<h1>{{ title }}</h1>
<h2>RutPipe: {{ "192434653" | rut }}</h2>

<h2>Reactive Form</h2>

<form [formGroup]="reactiveForm">
  <input formControlName="rut" type="text" rutFormat />
  <p>error: {{ reactiveForm.get("rut").errors | json }}</p>
  <p>value: {{ reactiveForm.get("rut").value | rut }}</p>
</form>

<h2>Template Form</h2>
<form #templateForm="ngForm">
  <input
    [(ngModel)]="rut"
    name="rut"
    type="text"
    #rutInput="ngModel"
    rutValidate
    rutFormat
    required
  />
  <p>error: {{ rutInput.errors | json }}</p>
  <p>value: {{ rut | rut }}</p>
</form>
